<div class="container mt-5">
	<div class="jumbotron">
	  <h1 class="display-4">About</h1>
	  <p class="lead">Tracer is a contact tracing application that records all customer visits in every store / kiosk in the mall.</p>
	  <hr class="my-4">
	  <h3>How It Works</h3>
		<b>Mall Managers</b>
		<p>Mall managers or managers are those who can access records across ALL stores / kiosks (establishments).</p>
		<b>Establishments</b>
		<p>Establishments can set up their account and start logging customer visits. Establishment admins can see only their own records.</p>
		<b>Tracing</b>
		<p>When the mall receives a notification regarding a positive case, managers may trace all the establishments the person went to five (5) days prior to the date the case was reported. Along with this, managers will also be able to trace all other people who went to the same stores two (2) hours before and after the confirmed case's entry. </p>
	</div>
</div>