  <style>
    #dropdown-establishment {
      min-width: 30%;
      max-height: 42vh;
      overflow-y: scroll;
    }
    #selectorButton {
      width: 30%;
    }
    #selectedEstablishment {
      width: 30%;
    }
  </style>

  <div class="dropdown">
      <div class="btn btn-dark dropdown-toggle" id="selectorButton" data-bs-toggle="dropdown">
        Select Establishment
      </div>
      <ul class="dropdown-menu dropdown-menu-end" id="dropdown-establishment">
        <% @establishments.each do |establishment| %>
          <li>
            <span class='dropdown-item' data-estid='<%=establishment.id %>'>
              <%= establishment.estname %>
            </span>  
          </li>
        <% end %>
      </ul>
    </div>

    <% if !button.nil? %>
    <button class='btn btn-outline-primary mt-2' id="selectedEstablishment"> <%= button %> </button>
    <% end %>