<div class="card">
  <h5 class="card-header">
  	<div class="container">Continue as an Establishment</div>
  </h5>
  <div class="card-body container">
    <%= render 'loginform', establishment: @establishment, error: @error %>
  </div>
</div>